header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: transparent !important;
    /* background-color: white; */
    /* background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .1)); */
}

header .navbar {
    padding-top: 0;
    padding-bottom: 0;
    background: none !important;
    position: relative;
}

header .navbar .nav-link {
    padding: 1.7rem 1.5rem !important;
    outline: none !important;
    font-size: 2vmin;
    font-weight: 100px;
    letter-spacing: 0.3rem;
}

.nav-item a {
    color: black !important;
}

.nav-item a:hover {
    color: grey !important;
    text-decoration: none;
}