header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: white;
}

header .navbar {
    padding-top: 0;
    padding-bottom: 0;
    background: none !important;
    position: relative;
}

header .navbar .nav-link {
    padding: 1.7rem 1.5rem !important;
    outline: none !important;
    font-size: 1.5vmin;
    letter-spacing: 0.2rem;
}

@media screen and (max-width: 768px) {
    header .navbar .nav-link {
        font-size: 3vmin;
    }
}

.nav-item a {
    color: black !important;
}

.nav-item a:hover {
    color: grey !important;
    text-decoration: none;
}