<footer id="contact" class="bg-light" style="text-align: justify;">
    <div class="container" style="padding-top: 3%;">
        <p>
            maGma is a project of the Amural Association co-financed by the Administration of the National Cultural Fund
            and
            the Braşov County Council in partnership with Racoş Town Hall and Alsórákosért Association.
        </p>
        <p class="text-muted">
            Disclaimer: Cultural project co-financed by the National Cultural Fund Administration. The project does not
            necessarily represent the position of the National Cultural Fund Administration. AFCN is not responsible for
            the
            content of the project or how the results of the project may be used. These are entirely the responsibility
            of the
            beneficiary of the funding.
        </p>
        <br>
        <div class="row">
            <div class="col-lg-2">
                <p>A project by:</p>
                <p>
                    <img src="assets/amural.png" class="logo" alt="" />
                </p>
            </div>

            <div class="col-lg-3">
                <p>Co-financed by:</p>
                <p>
                    <img src="assets/afcn.png" class="logo" alt="" />
                    <img src="assets/consiliul.png" class="logo" alt="" />
                </p>
            </div>

            <div class="col-lg-2">
                <p>Supported by:</p>
                <p>
                    <img src="assets/epson.png" class="logo inline-block" alt="" />
                </p>
            </div>

            <div class="col-lg-2">
                <p>Promoted by:</p>
                <p>
                    <img src="assets/guerrilla.png" class="logo inline-block" alt="" />
                </p>
            </div>

            <div class="col-lg-3">
                <p>Partners: Alsórákosért NGO, Racoș City Hall</p>
                <p>
                    <img src="assets/carpaterra.png" class="logo inline-block" alt="" />
                    <img src="assets/developing-art.png" class="logo inline-block" alt="" />
                </p>
            </div>
        </div>
    </div>

    <div class="section" style="background-color: rgba(0, 0, 0, 0.1);">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>
                        <strong>magma.residency@gmail.com</strong>
                    </p>
                    <section class="mb-4">
                        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/magma.residency"
                            target="_blank" role="button"><i class="fab fa-facebook-f"></i></a>

                        <a class="btn btn-outline-dark btn-floating m-1"
                            href="https://www.instagram.com/magma.residency" target="_blank" role="button"><i
                                class="fab fa-instagram"></i></a>
                    </section>
                </div>
                <div class="col-lg-6">
                    <p>
                        ©2022 magma.residency. All rights reserved.
                    </p>
                    <p>
                        Developed by Stefania Man.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>