<!-- HEADER -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        <img src="assets/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
        magma.residency
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/open-call#">Open call</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/open-call#">Showcase</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/open-call#">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/open-call#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
</header>

<hr>

<!-- The place -->
<div class="section">
  <div class="container" style="text-align: justify;">
    <p class="h5 text-uppercase">The story of the place</p>
    <br>
    <p>
      Racoş is a village with a little over 2,500 inhabitants belonging to several ethnic minorities. 
      In the heart of this village, located 60 km from Brasov, there is a geological complex that, not long ago, became a protected area. 
      Here are the Extinct Volcano, the Emerald Lake and the Basalt Quarry. Also here was the quarry of exploitation of the basaltic rocks 
      Brazi which left behind a basin with a diameter of 400 meters and a depth of 10 meters in which the Emerald Lake was formed. 
      An artificial lake with a special color and many living and recent stories about its formation and transformation from the 2000's until now.
    </p>
    <p>
      This place challenged our imagination. From the thousand-year-old volcano that transformed the colors and stones of the surrounding land, being 
      the last active volcano in the Carpathian Mountains, to the newly formed emerald-colored lake. From the industrial career of basalt rock mining 
      to the accident that created, with the help of the villagers, a wonder of post-industrial nature with a magical color and sound. From the huge 
      walls with basalt rocks that invite you to enter and immerse yourself in the shapes and colors of the historical layers of a piece of land, 
      to the multitude of ethnicities and cultures that coexist in a small and poor village in the heart of Transylvania. Fire. Earth. The water. Stone. Culture.
    </p>
    <p>
      It seemed to us a magical place where the education of the senses and the much needed transformation of the relationship we have with nature can 
      happen with care and respect for the elements of nature and communities.
    </p>

    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
          src="assets/o1.jpeg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Boat on Calm Water"
        />

        <img
          src="assets/h1.jpeg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Wintry Mountain Landscape"
        />
      </div>

      <div class="col-lg-4 mb-4 mb-lg-0">
        <img
          src="assets/h2.jpeg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Mountains in the Clouds"
        />

        <img
          src="assets/o2.jpeg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Boat on Calm Water"
        />
      </div>

      <div class="col-lg-4 mb-4 mb-lg-0">
        <img
          src="assets/o3.jpeg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Waves at Sea"
        />

        <img
          src="assets/h3.jpeg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Yosemite National Park"
        />
      </div>
    </div>
</div>

<hr>

<!-- The artists -->
<div class="section">
  <div class="container" style="text-align: justify;">
    <p class="h5 text-uppercase">The artists</p>
    
    <div class="card">
      <img class="card-img-top" src="assets/vania.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Vânia Rovisco (PT)</h5>
        <p class="card-text">Performance</p>
        <p>
          Interpretă și dansatoare, creatoare de instalații și piese duraționale prin care explorează și actualizează procesele relaționale.
          Creaţiile ei sunt puternic ancorate în cercetare, modelând spaţiul, timpul şi perspectiva publicului. 
          Folosește articularea simplă a dispozitivelor de sens, cum ar fi enunţarea cuvintelor, hibriditatea formală, cadența și articularea timpului, 
          utilizarea geometriilor moștenite de utilizare a coregrafiei pentru afirmarea sau perturbarea standardizării sociale. 
          Aduce limbajul performativ înspre geografia afectelor și relațiilor (încadrarea, accelerarea, intensificarea corpurilor). 
          Îşi poziţionează creaţiile în spațiul de galerie reformează convenţiile, așteptările și interacţiunea cu publicul. Transformă publicul în co-creator al procesului ca document viu.
        </p>
      </div>
      <div class="card-body">
        <a href="https://vaniarovisco.wordpress.com/" class="card-link" target="_blank">vaniarovisco.wordpress.com</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/petra.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Zeyla Tomlyn (RO)</h5>
        <p class="card-text">Voce și ritual</p>
        <p>
          Zeyla Tomlyn aka Petra Acker este cântăreață, compozitoare, producătoare și songwriter, s-a născut în Brașov și 
          locuiește în prezent pe plaiurile natale de unde lucrează cu artiști din toată lumea. Provenind dintr-o familie
           muzicală cu origine germane (săsească) a învățat devreme să se exprime prin muzică. De-al lungul anilor a 
           fost activă în stilurile muzicii clasice, trecând apoi la gospel, jazz, rock, funk, hip hop, soul, electro și house,
            iar dragostea pentru muzica africană este de o vreme bună în prim plan, una din trupele ei fiind prima din țară care a 
            adus afrobeat pe scenele românești.
        </p>
      </div>
      <div class="card-body">
        <a href=" https://www.petra-acker.com/ " class="card-link" target="_blank">www.petra-acker.com</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/vlaicu.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Vlaicu Golcea (RO)</h5>
        <p class="card-text">Sunet</p>
        <p>
          Muzician de jazz, contrabasist, sound designer și producător, Vlaicu Golcea a absolvit Academia de Muzică București, secția Jazz, în 1998. Este membru al Uniunii Compozitorilor și Muzicologilor din România. A concertat în afara țării în Franța, Elveția, Ungaria, Belgia, Bulgaria, Olanda, Spania, Germania, Cehia, Austria și Polonia. Cu o discografie de peste treizeci de titluri apărute în țară și peste hotare, 
          muzicianul își desfășoară activitatea și în diverse domenii ale artei sincretice, ca muzica de teatru, de dans contemporan, de film (lung și scurt metraj), instalații multimedia.
        </p>
      </div>
      <div class="card-body">
        <a href="http://vlaicugolcea.ro/ " class="card-link" target="_blank">vaniarovisco.wordpress.com</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/janis.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Janis Dellarte (PT)</h5>
        <p class="card-text">Sculptură interactivă</p>
        <p>
          Janis s-a născut în 1989 la Lisabona, unde locuiește și lucrează. Janis creează hibrizi sculpturali, piese textile performative, obiecte ritualice și instalații interactive, prin croșetat, tricotat și prin investigarea ei asupra tradițiilor textile pe cale de dispariție lucrarea manuală aproape pierdută. După ce a studiat la Universitatea de Arte din Madrid și a obținut un master în textile tricotate la Royal College of Art din Londra, Janis a călătorit prin Portugalia, Nepal, India, Peru, Mexic și Brazilia, în căutarea tehnicilor textile tradiționale pe cale de dispariţie. Janis a expus la Londra, New York, Rio de Janeiro, Belo Horizonte, Porto și Lisabona. Ea colaborează cu designeri, muzicieni, dansatori și interpreți. Participă la inițiative artiviste precum Linha Vermelha și Zero Waste Lab – pentru un viitor mai conștient și mai puțin plastic! 
          În acest moment, Janis locuiește și lucrează în Portugalia, unde ridică zilnic deșeuri de plastic de pe plajă, pe care le transformă în piese de artă.
        </p>
      </div>
      <div class="card-body">
        <a href="https://www.instagram.com/janisdellarte/" class="card-link" target="_blank">@janisdellarte</a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="assets/mihai.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mihai Păcurar (RO)</h5>
        <p class="card-text">New Media</p>
        <p>
          După ce a absolvit Universitatea Națională de Arte din București ca scenograf, principalul lui domeniu de activitate până în prezent a fost teatrul. Lucrările lui video s-au dezvoltat și în afara teatrului, în principal ca parte a instalațiilor pe care le-a creat împreună cu artiști din diferite domenii. Lucr[rile lui se dezvoltă pe mai multe medii interconectate, cum ar fi design scenic, artă video, animație și sunet. Pe parcursul acestora, a explorat teme precum percepția, impactul virtualului asupra analogului sau posibilitățile creative ale întâmplării. A fost întotdeauna interesat de politica locației ca spațiu de întâlniri, așa că, într-un fel, lucrările lui din această categorie pot fi considerate site specific. Tema principală a artei lui poate fi urmărită din perspectiva relației dintre om și mediu. 
          A terminat recent un master în regie teatrală și intenționează să exploreze posibilitățile de încrucișare ale teatrului și artelor performative, instalații, video și sunet.
        </p>
      </div>
      <div class="card-body">
        <a href="https://mihaipacurar.com/ " class="card-link" target="_blank">mihaipacurar.com</a>
      </div>
    </div>
</div>

<!-- FOOTER -->
<footer id="contact" class="bg-dark text-center text-white">
  <div class="container p-4">
      <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/magma.residency" target="_blank" role="button"
          ><i class="fab fa-facebook-f"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/magma.residency" target="_blank" role="button"
          ><i class="fab fa-instagram"></i
      ></a>
      </section>

      <section class="">
          <div class="row d-flex justify-content-center">
          <div class="col-auto">
              <p class="pt-2">
              Have a questtion? Contact us at: <strong>magma.residency@gmail.com</strong>
              </p>
          </div>
          </div>
      </section>

  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 magma.residency. All rights reserved
  </div>
</footer>