 
header .navbar {
padding-top: 0;
padding-bottom: 0;
background: none !important;
position: relative;
font-family: "Raleway", sans-serif;
}

header .navbar .nav-link {
padding: 1.7rem 1.5rem !important;
outline: none !important;
font-size: 1.25rem;
font-weight: 100px;
letter-spacing: 0.3rem;
}

.nav-item a:hover {
color: #000 !important;
text-decoration: none;
}

.card {
    width: 30rem; 
    display:inline-block;
    margin: 1%;
}

.card-img-top {}