<!-- HEADER -->
<app-header></app-header>

<!-- VIDEO -->
<div class="video-container">
    <div class="video-overlay"></div>
    <iframe class="video-frame"
        src="https://www.youtube.com/embed/OdUWhFk77Ow?autoplay=1&mute=1&controls=0&loop=1&playlist=OdUWhFk77Ow"
        title="maGma aftermovie 2022" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
    </iframe>
</div>

<!-- GALLERY -->
<div class="container">
    <div id="galleryCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let item of items; index as i"
                [ngClass]="[i === 0 ? 'carousel-item active' : 'carousel-item']">
                <!-- <img class="d-block w-100" src={{item}} alt="slide"> -->
                <div class="carousel-item-bg" [ngStyle]="{'background-image': 'url(' + item + ')'}"></div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#galleryCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#galleryCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>

<!-- FOOTER -->
<app-footer></app-footer>