<!-- HEADER -->
<app-header></app-header>

<!-- VIDEO -->
<div class="video-container">
    <div class="video-overlay"></div>
    <iframe class="video-frame"
        src="https://www.youtube.com/embed/OdUWhFk77Ow?autoplay=1&mute=1&controls=0&loop=1&playlist=OdUWhFk77Ow"
        title="maGma aftermovie 2022" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
    </iframe>
</div>

<div class="container">
    <gallery [items]="items" thumbPosition="left"></gallery>
</div>

<!-- FOOTER -->
<app-footer></app-footer>