.gallery-container {
    height: 80vh;
    padding-top: 100px;
    padding-bottom: 100px;
}

.gallery-container .gallery {
    height: 100%;
}

.video-container {
    position: relative;
    padding-top: 56.25%;
    border-radius: 0.25rem !important;
    overflow: hidden;
}

.video-frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -8px;
    border-radius: 0.25rem !important;
}