         
.btn-grad {
    background-image: linear-gradient(to right, #FDD3D5 0%, #F0C3FE  51%, #dbeeff  100%);
    text-align: center;
    font-size: large;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 15px;
    display: block;
    border: solid 5px white;
    width: 50%;
}

.btn-grad:hover {
    background-position: right center;
    color: white;
    text-decoration: none;
}
         