<div class="container-fluid mt-4">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="/">
      <img src="../assets/logo.png" class="" alt="logo" style="margin: 0.5rem;">
    </a>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="#footer">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#footer">Contact</a>
      </li>
    </ul>
    <div>
      <a href="https://www.facebook.com/" class="justify-content-between" target="_blank">
        <img src="../assets/facebook.png" class="d-inline-block" width="31" height="31" alt="facebook" style="margin: 0.5rem;">
      </a>
      <a href="https://www.instagram.com" class="justify-content-between" target="_blank">
        <img src="../assets/instagram.png" class="d-inline-block" width="31" height="31" alt="instagram" style="margin: 0.5rem;">
      </a>
    </div>
  </nav>
  <div class="row">
    <div class="col-6">
      <div class="container d-flex h-100 w-75">
        <div class="row justify-content-center align-self-center">
          <h1 class="display-1"><b>maGma</b><br><b>call for artists</b></h1>
          <p class="text-muted" style="margin-top: 5%; margin-bottom: 5%;  text-align: justify; line-height: 200%;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            
          </p>
          <div>
            <button class="btn btn-lg btn-grad">Join</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" style="background-image: url('../assets/rectangle.png'); background-repeat: no-repeat; text-align: center;">
      <img src="../assets/animation.png" class="img-fluid">
    </div>
  </div>

  <footer id="footer">
    <div class="row" style="background-image: linear-gradient(to right, rgba(253, 211, 213, 0.3) 0%, rgba(240, 195, 254, 0.3)  51%, rgba(219, 238, 255, 0.3)  100%); padding: 2%;">
      <div class="col-6">
        <div class="container d-flex h-100 w-75">
          <div class="row justify-content-center align-self-center" style="text-align: justify;">
            <h5 class="text-uppercase">About Us</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
              aliquam voluptatem veniam, est atque cumque eum delectus sint!
              <br><br>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
              aliquam voluptatem veniam, est atque cumque eum delectus sint!
            </p>
          </div>
        </div>
      </div>

      <div class="col-6">
        <h5 class="text-uppercase">Contact</h5>
        <p>Brasov, Strada Abc nr. 123</p>
        <p>contact@magma.ro</p>
        <p>+ 01 234 567 89</p>
      </div>
    </div>

  <div class="text-center p-3">
    Copyright © 2022: maGma. All rights reserved.
  </div>
</footer>
</div>