<!-- HEADER -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#open-call">Open call</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Showcase</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
  <!-- MAIN TITLE SECTION -->
  <div id="home" class="section">
    <div class="container" style="text-align: center;">
      <img id="logo-img" src="assets/logo.png" class="img-fluid" alt="magma-logo">
      <p class="title h6 font-italic text-muted">
        .artistic residency and mentorship program.
        <br>
        .performative and visual arts showcase.
      </p>
      <br>
      <p class="subtitle font-italic text-muted">.explore your senses. celebrate nature. listen to the stories of the land.</p>
    </div>
  </div>

  <!--IMAGES -->
  <div id="images" class="section">
    <div class="lightbox">
      <div class="row">
        <div class="col-lg-6">
          <img
            src="assets/IMG_1573.JPG"
            class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
          />
        </div>
        <div class="col-lg-6">
          <img
            src="assets/IMG_1592.JPG"
            class="w-100 shadow-1-strong rounded"
          />
        </div>
      </div>
    </div>
  </div>
  
  <!-- ABOUT SECTION -->
  <div id="about" class="section" style="text-align: justify; background-color: lightgray;">
    <div class="container">
      <p class="h5 text-uppercase">About the project</p>
      <hr>
      <p>
        Un proiect al Asociaţiei Amural cofinaţat de Administraţia Fondului Cultural Naţional şi Consiliul Judeţean Braşov
      </p>
      <p>
        Proiect cultural co-finanțat de Administrația Fondului Cultural Național. 
        Proiectul nu reprezintă în mod necesar poziţia Administrației Fondului Cultural Național. 
        AFCN nu este responsabilă de conținutul proiectului sau de modul în care rezultatele proiectului pot fi folosite. 
        Acestea sunt în întregime responsabilitatea beneficiarului finanțării.
      </p>
  
      <img src="assets/amural.png" class="logo img-responsive inline-block" alt="" />
      <img src="assets/afcn.png" class="logo img-responsive inline-block" alt="" />
      <img src="assets/consiliul.png" class="logo img-responsive inline-block" alt="" />
      <img src="assets/carpaterra.png" class="logo img-responsive inline-block" alt="" />
      <img src="assets/developing-art.png" class="logo img-responsive inline-block" alt="" />
    </div>
  </div>
  
  <!-- OPEN CALL -->
  <div id="open-call" class="section">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <h3>Want to join the residency?</h3>
          <br>
          <p><a href="/open-call" class="btn btn-outline-black">Get Started</a></p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- FOOTER -->
  <footer id="contact" class="bg-dark text-center text-white">
    <div class="container p-4">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/magma.residency" target="_blank" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/magma.residency" target="_blank" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
      </section>
  
      <section class="">
          <div class="row d-flex justify-content-center">
            <div class="col-auto">
              <p class="pt-2">
                Have a questtion? Contact us at: <strong>magma.residency@gmail.com</strong>
              </p>
            </div>
          </div>
      </section>
  
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 magma.residency. All rights reserved
    </div>
  </footer>
