<!-- HEADER -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" height="150" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#land">The land</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#mentors">Mentors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#open-call">Open call</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/showcase">Showcase</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="showcase#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- TICKETS -->
<div class="container-fluid text-center" style="padding-top: 3%; background: linear-gradient(rgba(255,255,255, 1), rgba(255,255,255, 0.5)), url('assets/water.JPG');">
  <h3><b>22-24 July, 2022</b></h3>
  <h4>Complex Racoș, Braşov County </h4>
  <br><br>
  <p><a href="https://www.bilete.ro/magma-showcase/magma-showcase-22-24-iul-2022" class="btn btn-block btn-outline-black" target="_blank">Get tickets</a></p>
  <br><br>
</div>

<!-- SCHEDULE-->
<div class="container-fluid">
  <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-volcano-tab" data-bs-toggle="pill" data-bs-target="#pills-volcano" type="button" role="tab" aria-controls="pills-volcano" aria-selected="true">
        <b>Extinct Volcano (Explore)</b>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-columns-tab" data-bs-toggle="pill" data-bs-target="#pills-columns" type="button" role="tab" aria-controls="pills-columns" aria-selected="false">
        <b>Basalt Columns (Celebrate)</b>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-lake-tab" data-bs-toggle="pill" data-bs-target="#pills-lake" type="button" role="tab" aria-controls="pills-lake" aria-selected="false">
        <b>Emerald Lake (Listen)</b>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-shadow-tab" data-bs-toggle="pill" data-bs-target="#pills-shadow" type="button" role="tab" aria-controls="pills-shadow" aria-selected="false">
        <b>In the Shadow (Lazy)</b> 
      </button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <!-- VOLCANO -->
    <div class="tab-pane fade show active" id="pills-volcano" role="tabpanel" aria-labelledby="pills-volcano-tab" style="background: linear-gradient(rgba(255,255,255, 0.1), rgba(255,255,255, 0)), url('assets/fundal_vulcan.JPG');">
        <div class="location-desc">
          <h4><b>Movement, ritual and workshops area</b></h4>
          <br>

          <p>Sense: Touch</p>
          <p>Element: Fire</p>
          <p>Story: Login</p>
        </div>

        <br>

        <table class="table table-bordered table-light">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Friday, July 22</th>
            <th scope="col">Saturday, July 23</th>
            <th scope="col">Sunday, July 24</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">09:00</th>
            <td rowspan="2" class="active-cell-volcano">Workshop: In Touch with Nature / <b>Cristina Lilienfeld</b> <br> 09:00 - 11:00</td>
            <td rowspan="2" class="active-cell-volcano">Workshop: In Touch with Nature / <b>Cristina Lilienfeld</b> <br> 09:00 - 11:00</td>
            <td rowspan="2" class="active-cell-volcano">Workshop: In Touch with Nature / <b>Cristina Lilienfeld</b> <br> 09:00 - 11:00</td>
          </tr>
          <tr>
            <th scope="row">10:00</th>
          </tr>
          <tr>
            <th scope="row">11:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">12:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">13:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">14:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">15:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">16:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">17:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">18:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">19:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">20:00</th>
            <td class="active-cell-volcano">Ritual: Giving thanks to the land / <b>Jannis Dell'arte & Alina Uşurelu</b> <br> 20:00 </td>
            <td class="active-cell-volcano">Ritual: Sunset Celebration / <b>Cristina Lilienfeld & Alina Uşurelu</b>  <br> 20:00</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">21:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">22:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">23:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">00:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>      
    </div>
    <!-- COLUMNS -->
    <div class="tab-pane fade" id="pills-columns" role="tabpanel" aria-labelledby="pills-columns-tab" style="background: linear-gradient(rgba(255,255,255, 0.1), rgba(255,255,255, 0)), url('assets/fundal_coloane.JPG');">
      <div class="location-desc">
        <h4>Electronic music and video mapping area</h4>
        <br>
        <p>Sense: See</p>
        <p>Element: Earth</p>
        <p>Story: Release</p>
      </div>

      <br>

      <table class="table table-bordered table-light">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Friday, July 22</th>
            <th scope="col">Saturday, July 23</th>
            <th scope="col">Sunday, July 24</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td class="active-cell-columns">VJs: <b>Raz, Noetic, Atmann</b> <br> 21:00 - 08:00</td>
            <td class="active-cell-columns">VJs: <b>Raz, Noetic, Atmann</b> <br> 21:00 - 08:00</td>
            <td class="active-cell-columns">VJs: <b>Raz, Noetic, Atmann</b> <br> 21:00 - 08:00</td>
          </tr>
          <tr>
            <th scope="row">21:00</th>
            <td rowspan="3" class="active-cell-columns"><b>Kethal</b> <br> 21:00 - 00:00</td>
            <td rowspan="2" class="active-cell-columns"><b>Dudu</b> <br> 21:00 - 23:00</td>
            <td rowspan="3" class="active-cell-columns"><b>.C.C. (Cristina Cazacu)</b> <br> 21:00 - 00:00</td>
          </tr>
          <tr>
            <th scope="row">22:00</th>
          </tr>
          <tr>
            <th scope="row">23:00</th>
            <td rowspan="2" class="active-cell-columns"><b>Danaga</b> <br> 23:00 - 01:00</td>
          </tr>
          <tr>
            <th scope="row">00:00</th>
            <td rowspan="4" class="active-cell-columns"><b>The Alchemy of Happiness</b> <br> 00:00 - 04:00</td>
            <td rowspan="4" class="active-cell-columns"><b>Claudia Nicolae</b> <br> 00:00 - 04:00</td>
          </tr>
          <tr>
            <th scope="row">01:00</th>
            <td rowspan="4" class="active-cell-columns"><b>Kaius Leppah (Tzuc)</b> <br> 01:00 - 05:00</td>
          </tr>
          <tr>
            <th scope="row">02:00</th>
          </tr>
          <tr>
            <th scope="row">03:00</th>
          </tr>
          <tr>
            <th scope="row">04:00</th>
            <td rowspan="4" class="active-cell-columns"><b>Feral</b> <br> 04:00 - 08:00</td>
            <td rowspan="4" class="active-cell-columns"><b>von Bülove (Cosima)</b> <br> 04:00 - 08:00</td>
          </tr>
          <tr>
            <th scope="row">05:00</th>
            <td rowspan="3" class="active-cell-columns"><b>Atmann</b> <br> 05:00 - 08:00</td>
          </tr>
          <tr>
            <th scope="row">06:00</th>
          </tr>
          <tr>
            <th scope="row">07:00</th>
          </tr>
          <tr>
            <th scope="row">08:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">09:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- LAKE -->
    <div class="tab-pane fade" id="pills-lake" role="tabpanel" aria-labelledby="pills-lake-tab" style="background: linear-gradient(rgba(255,255,255, 0), rgba(255,255,255, 0)), url('assets/fundal_lac.JPG');">        
      <div class="location-desc">
        <h4>Concert and multimedia installations area</h4>   
        <br>
        <p>Sense: Hear</p>
        <p>Element: Water</p>
        <p>Story: Healing</p>
      </div>

      <br>

      <table class="table table-bordered table-light">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Friday, July 22</th>
            <th scope="col">Saturday, July 23</th>
            <th scope="col">Sunday, July 24</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td class="active-cell-lake">              
              Installations: <b>Noetic, Sergiu Chihaia</b>
              <br>
              VJs: <b>Raz, Noetic, Atmann</b>
              <br> 21:00 - 08:00
            </td>
            <td class="active-cell-lake">              
              Installations: <b>Noetic, Sergiu Chihaia</b>
              <br>
              VJs: <b>Raz, Noetic, Atmann</b>
              <br> 21:00 - 08:00
            </td>
            <td class="active-cell-lake">              
              Installations: <b>Noetic, Sergiu Chihaia</b>
              <br>
              VJs: <b>Raz, Noetic, Atmann</b>
              <br> 21:00 - 08:00
            </td>
          </tr>
          <tr>
            <th scope="row">17:00</th>
            <td></td>
            <td class="active-cell-lake">Workshop: Field Recording and Free Flow Writing / <b>Lala Mişosniky </b><br> 17:00</td>
            <td class="active-cell-lake">Workshop: Microscopy / <b>Madalina de la Carpaterra </b> <br> 17:00</td>
          </tr>
          <tr>
            <th scope="row">18:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">19:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">20:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">21:00</th>
            <td class="active-cell-lake">Video installation: <b>Mihai Păcurar</b> <br> 21:00 - 22:00</td>
            <td class="active-cell-lake">Sound installation: <b>The Seagull / Vlaicu Golcea</b> <br> 21:00 - 22:00</td>
            <td class="active-cell-lake">Concert: <b>Lala Mişosniky</b> <br> 21:00 - 22:00</td>
          </tr>
          <tr>
            <th scope="row">22:00</th>
            <td class="active-cell-lake">Concert: <b>Heart Cave / A-C Leonte & Alex Arcuş</b> <br> 22:00 </td>
            <td class="active-cell-lake">Concert: <b>Pantam Dance & Zeyla Tomlyn</b> <br> 22:00</td>
            <td class="active-cell-lake">Video installation: <b>Mihai Păcurar</b> <br> 22:00</td>
          </tr>
          <tr>
            <th scope="row">23:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">00:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table> 
    </div>
    <!-- SHADOW -->
    <div class="tab-pane fade" id="pills-shadow" role="tabpanel" aria-labelledby="pills-shadow-tab" style="background: linear-gradient(rgba(255,255,255, 0), rgba(255,255,255, 0)), url('assets/fundal_umbra.JPG');"> 
      <div class="location-desc">
        <h4>Relaxation and exploration area (self) </h4>   
        <br>
        <p>Sense: Kinesthetic</p>
        <p>Element: Wind</p>
        <p>Story: Discovery</p>
      </div>

      <br>

      <table class="table table-bordered table-light">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Friday, July 22</th>
            <th scope="col">Saturday, July 23</th>
            <th scope="col">Sunday, July 24</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">10:00</th>
            <td></td>
            <td class="active-cell-shadow">Hiking with Ildi & Madalina - Carpaterra (departure at 10:00)</td>
            <td class="active-cell-shadow">
              Excursion in the Carpaterra Geopark to the oak estimated at over 900 years with Cătălin Cantor & Simon - Carpaterra (departure at 10:00)
              <br>
              E-Bike Tour in the Carpaterra Geopark Silviu Neculai - Carpaterra (departure at 10:00)
            </td>
          </tr>
          <tr>
            <th scope="row">11:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">12:00</th>
            <td rowspan="7"></td>
            <td class="active-cell-shadow" rowspan="7">
              1 to 1 numerology and tarot sessions with Zeyla, Elyas and Andreea (12:00 - 17:00)
              <br><br>
              Carpentry workshop with Pinop Woodworks (13:00 - 19:00)
              <br>
              Mushroom identification workshop and comedic bear spirituality with Ursit - Dan Ursu Olar (13:00 - 19:00)
              <br><br>
              Geopark kayaking - kayak tour on Olt in the Cotul Turzunului Bird Reserve with Silviu Neculai - Carpaterra
            </td>
            <td class="active-cell-shadow" rowspan="7">
              1 to 1 numerology and tarot sessions with Zeyla, Elyas and Andreea (12:00 - 17:00)
              <br><br>
              Carpentry workshop with Pionp Woodworks (13:00 - 19:00)
              <br>
              Mushroom identification and bear spirituality workshop with Ursit (Dan Ursu Olar) (13:00 - 19:00)
              <br><br>
              Geopark kayaking - kayak tour on Olt in the Cotul Turzunului Bird Reserve with Silviu Neculai - Carpaterra
            </td>
          </tr>
          <tr>
            <th scope="row">13:00</th>
          </tr>
          <tr>
            <th scope="row">14:00</th>
          </tr>
          <tr>
            <th scope="row">15:00</th>
          </tr>
          <tr>
            <th scope="row">16:00</th>
          </tr>
          <tr>
            <th scope="row">17:00</th>
          </tr>
          <tr>
            <th scope="row">18:00</th>
          </tr>
          <tr>
            <th scope="row">19:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table> 
    </div>
  </div>   
</div>

<!-- FOOTER -->
<footer id="contact" class="bg-light" style="text-align: justify;">
  <div class="container" style="padding: 3% 0%;">
    <p>
      maGma is a project of the Amural Association co-financed by the Administration of the National Cultural Fund and the Braşov County Council in partnership with Racoş Town Hall and Alsórákosért Association.
    </p>
    <p class="text-muted">
      Disclaimer: Cultural project co-financed by the National Cultural Fund Administration. The project does not necessarily represent the position of the National Cultural Fund Administration. AFCN is not responsible for the content of the project or how the results of the project may be used. These are entirely the responsibility of the beneficiary of the funding.
    </p>
    <br>
    <div class="row">
      <div class="col-lg-2">
        <p>A project by:</p>
        <p>
          <img src="assets/amural.png" class="logo" alt="" />
        </p>
      </div>

      <div class="col-lg-3">
        <p>Co-financed by:</p>
        <p>
          <img src="assets/afcn.png" class="logo" alt="" />
          <img src="assets/consiliul.png" class="logo" alt="" />
        </p>
      </div>

      <div class="col-lg-2">
        <p>Supported by:</p>
        <p>
          <img src="assets/epson.png" class="logo" alt="" />
        </p>
      </div>

      <div class="col-lg-2">
        <p>Promoted by:</p>
        <p>
          <img src="assets/guerrilla.png" class="logo" alt="" />
        </p>
      </div>

      <div class="col-lg-3">
        <p>Partners: Alsórákosért NGO, Racoș City Hall</p>
        <p>
          <img src="assets/carpaterra.png" class="logo" alt="" />
          <img src="assets/developing-art.png" class="logo" alt="" />
        </p>
      </div>
    </div>
  </div>

  <div class="section" style="background-color: rgba(0, 0, 0, 0.1);">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <p>
            <strong>magma.residency@gmail.com</strong>
          </p>
          <section class="mb-4">
            <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/magma.residency" target="_blank" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/magma.residency" target="_blank" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
          </section>
        </div>
        <div class="col-lg-6">
          <p>
            ©2022 magma.residency. All rights reserved.
          </p>
          <p>
            Developed by Stefania Man.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
