<!-- HEADER -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" height="150" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#land">The land</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#mentors">Mentors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#open-call">Open call</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="showcase">Showcase</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- SCHEDULE-->
<div class="container-fluid">
  <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-volcano-tab" data-bs-toggle="pill" data-bs-target="#pills-volcano" type="button" role="tab" aria-controls="pills-volcano" aria-selected="true">
        <b>Extinct Volcano (Explore)</b>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-columns-tab" data-bs-toggle="pill" data-bs-target="#pills-columns" type="button" role="tab" aria-controls="pills-columns" aria-selected="false">
        <b>Basalt Columns (Celebrate)</b>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-lake-tab" data-bs-toggle="pill" data-bs-target="#pills-lake" type="button" role="tab" aria-controls="pills-lake" aria-selected="false">
        <b>Emerald Lake (Listen)</b>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-shadow-tab" data-bs-toggle="pill" data-bs-target="#pills-shadow" type="button" role="tab" aria-controls="pills-shadow" aria-selected="false">
        <b>In the Shadow (Lazy)</b> 
      </button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-volcano" role="tabpanel" aria-labelledby="pills-volcano-tab">
        <h4>Movement, ritual and workshops area</h4>
        <br>

        <p>Sense: Touch</p>
        <p>Element: Fire</p>
        <p>Story: Login</p>

        <br>

        <table class="table table-bordered table-light">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Friday, July 22</th>
            <th scope="col">Saturday, July 23</th>
            <th scope="col">Sunday, July 24</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">09:00</th>
            <td rowspan="2" class="active-cell">Workshop: In Touch with Nature / Cristina Lilienfeld</td>
            <td rowspan="2" class="active-cell">Workshop: In Touch with Nature / Cristina Lilienfeld</td>
            <td rowspan="2" class="active-cell">Workshop: In Touch with Nature / Cristina Lilienfeld </td>
          </tr>
          <tr>
            <th scope="row">10:00</th>
          </tr>
          <tr>
            <th scope="row">11:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">12:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">13:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">14:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">15:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">16:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">17:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">18:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">19:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">20:00</th>
            <td class="active-cell">Ritual: Giving thanks to the land / Jannis Dell'arte & Alina Uşurelu</td>
            <td class="active-cell">Ritual: Sunset Celebration / Cristina Lilienfeld & Alina Uşurelu</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">21:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">22:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">23:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">00:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>      
    </div>
    <div class="tab-pane fade" id="pills-columns" role="tabpanel" aria-labelledby="pills-columns-tab">
      <h4>Electronic music and video mapping area</h4>
      <br>
      <p>Sense: See</p>
      <p>Element: Earth</p>
      <p>Story: Release</p>

      <br>

      <table class="table table-bordered table-light">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Friday, July 22</th>
            <th scope="col">Saturday, July 23</th>
            <th scope="col">Sunday, July 24</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">21:00</th>
            <td rowspan="12" class="active-cell">
              VJs: Raz, Noetic, Atmann
              <br>
              DJs: Kethal, Ada Kaleh, Feral
              <br>
              Performance: no title (####) / Vânia Rovisco
              </td>
            <td rowspan="12" class="active-cell">
              VJs: Raz, Noetic, Atmann
              <br>
              DJs: Dudu, Danaga, Kaius Leppah (Tzuc), Atmann
            </td>
            <td rowspan="12" class="active-cell">
              VJs: Raz, Noetic, Atmann
              <br>
              DJs: .C.C. (Cristina Cazacu) Claudia Nicolae, von Bülove (Cosima)
            </td>
          </tr>
          <tr>
            <th scope="row">22:00</th>
          </tr>
          <tr>
            <th scope="row">23:00</th>
          </tr>
          <tr>
            <th scope="row">00:00</th>
          </tr>
          <tr>
            <th scope="row">01:00</th>
          </tr>
          <tr>
            <th scope="row">02:00</th>
          </tr>
          <tr>
            <th scope="row">03:00</th>
          </tr>
          <tr>
            <th scope="row">04:00</th>
          </tr>
          <tr>
            <th scope="row">05:00</th>
          </tr>
          <tr>
            <th scope="row">06:00</th>
          </tr>
          <tr>
            <th scope="row">07:00</th>
          </tr>
          <tr>
            <th scope="row">08:00</th>
          </tr>
          <tr>
            <th scope="row">09:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="pills-lake" role="tabpanel" aria-labelledby="pills-lake-tab">        
      <h4>Concert and multimedia installations area</h4>   
      <br>
      <p>Sense: Hear</p>
      <p>Element: Water</p>
      <p>Story: Healing</p>

      <br>

      <table class="table table-bordered table-light">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Friday, July 22</th>
            <th scope="col">Saturday, July 23</th>
            <th scope="col">Sunday, July 24</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">17:00</th>
            <td></td>
            <td class="active-cell">Workshop: Field Recording and Free Flow Writing / Lala Mişosniky</td>
            <td class="active-cell">Workshop: Microscopy / Madalina de la Carpaterra</td>
          </tr>
          <tr>
            <th scope="row">18:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">19:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">20:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">21:00</th>
            <td class="active-cell">Video installation: Mihai Păcurar</td>
            <td class="active-cell">Sound installation: The Seagull / Vlaicu Golcea</td>
            <td class="active-cell">Concert: Lala Mişosniky</td>
          </tr>
          <tr>
            <th scope="row">22:00</th>
            <td class="active-cell">Concert: Heart Cave / A-C Leonte & Alex Arcuş </td>
            <td class="active-cell">Concert: Pantam Dance & Zeyla Tomlyn</td>
            <td class="active-cell">Video installation: Mihai Păcurar</td>
          </tr>
          <tr>
            <th scope="row">23:00</th>
            <td class="active-cell">
              Installations: Noetic, Sergiu Chihaia
              <br>
              VJs: Raz, Noetic, Atmann
            </td>
            <td class="active-cell">
              Installations: Noetic, Sergiu Chihaia
              <br>
              VJs: Raz, Noetic, Atmann
            </td>
            <td class="active-cell">
              Installations: Noetic, Sergiu Chihaia
              <br>
              VJs: Raz, Noetic, Atmann
            </td>
          </tr>
          <tr>
            <th scope="row">00:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">01:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">02:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">03:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">04:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">05:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">06:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">07:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">08:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">09:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table> 
    </div>
    <div class="tab-pane fade" id="pills-shadow" role="tabpanel" aria-labelledby="pills-shadow-tab"> 
      <h4>Relaxation and exploration area (self) </h4>   
      <br>
      <p>Sense: Kinesthetic</p>
      <p>Element: Wind</p>
      <p>Story: Discovery</p>

      <br>

      <table class="table table-bordered table-light">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Friday, July 22</th>
            <th scope="col">Saturday, July 23</th>
            <th scope="col">Sunday, July 24</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">10:00</th>
            <td></td>
            <td class="active-cell">Hiking with Ildi & Madalina - Carpaterra (departure at 10:00)</td>
            <td class="active-cell">
              Excursion in the Carpaterra Geopark to the oak estimated at over 900 years with Cătălin Cantor & Simon - Carpaterra (departure at 10:00)
              <br>
              E-Bike Tour in the Carpaterra Geopark Silviu Neculai - Carpaterra (departure at 10:00)
            </td>
          </tr>
          <tr>
            <th scope="row">11:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">12:00</th>
            <td></td>
            <td class="active-cell" rowspan="7">
              1 to 1 numerology and tarot sessions with Zeyla, Elyas and Andreea (12:00 - 17:00)
              <br><br>
              Carpentry workshop with Pinop Woodworks (13:00 - 19:00)
              <br>
              Mushroom identification workshop and comedic bear spirituality with Ursit - Dan Ursu Olar (13:00 - 19:00)
              <br><br>
              Geopark kayaking - kayak tour on Olt in the Cotul Turzunului Bird Reserve with Silviu Neculai - Carpaterra
            </td>
            <td class="active-cell" rowspan="7">
              1 to 1 numerology and tarot sessions with Zeyla, Elyas and Andreea (12:00 - 17:00)
              <br><br>
              Carpentry workshop with Pionp Woodworks (13:00 - 19:00)
              <br>
              Mushroom identification and bear spirituality workshop with Ursit (Dan Ursu Olar) (13:00 - 19:00)
              <br><br>
              Geopark kayaking - kayak tour on Olt in the Cotul Turzunului Bird Reserve with Silviu Neculai - Carpaterra
            </td>
          </tr>
          <tr>
            <th scope="row">13:00</th>
          </tr>
          <tr>
            <th scope="row">14:00</th>
          </tr>
          <tr>
            <th scope="row">15:00</th>
          </tr>
          <tr>
            <th scope="row">16:00</th>
          </tr>
          <tr>
            <th scope="row">17:00</th>
          </tr>
          <tr>
            <th scope="row">18:00</th>
          </tr>
          <tr>
            <th scope="row">19:00</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table> 
    </div>
  </div>   
</div>